@{
    ViewData["Title"] = "Mechanic";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mechanic View from Admin Perspective</h1>
    <p>View for admin to see all mechanics (list?) </a>.</p>
</div>
