@{
    ViewData["Title"] = "Client";
}

<div class="text-center">
    <h1 class="display-4">Client View from Admin Perspective</h1>
    <p>To do: Create clickable table that will open client profile page (or modal).</p>

    <!-- Mechanic List -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Date Added</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Karen Komplaint</th>
                    <td>karen.komplaint@aol.com</td>
                    <td>555-555-6547</td>
                    <td>2021-10-08</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
