@{
    ViewData["Title"] = "Mechanic";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">Mechanic View from Admin Perspective</h1>
        <p>Click a mechanic to visit their profile page</p>

        <!-- Mechanic List -->
        <div class="list-group" id="mechanicList">
            <div class="list-group-item text-white bg-secondary row d-flex text-center" id="heading">
                <div class="col">Name</div>
                <div class="col">Email</div>
                <div class="col">Phone No</div>
                <div class="col">Department</div>
                <div class="col">Date Added</div>
            </div>
            <button class="list-group-item row d-flex">
                <div class="col">Mark Mechanic</div>
                <div class="col">mark.mechanic@yahoo.com</div>
                <div class="col">555-555-3210</div>
                <div class="col">Mechanic</div>
                <div class="col">2021-10-08</div>
            </button>
        </div>
    </div>
</body>
</html>


