@{
    ViewData["Title"] = "Admin Login";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }

        .header1 {
            margin-bottom: -15px;
            font-family: 'Montserrat', sans-serif;
        }

        .header2 {
            margin-bottom: 25px;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid vertical-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-4 mr-4">
                <img src="~/images/mechanic_clipart.png" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-xl-5">
                <form method="post" asp-controller="home" asp-action="adminlogin">
                    <div>
                        <div class="header1">
                            <h5>Welcome Back</h5>
                        </div>
                        <div class="header2">
                            <h3>Login to your account</h3>
                        </div>
                    </div>
                    <!-- Email input -->
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="loginEmail" name="email" placeholder="Email" required />
                    </div>
                    <!-- Password input -->
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" id="userPassword" name="password" placeholder="Password" required />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberUser" />
                            <label class="form-check-label" for="rememberUser">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>
                    <!-- Submit button -->
                    <div class="text-center text-lg-start mt-3">
                        <input type="submit" class="btn btn-primary btn-lg" style="padding-left: 30px; padding-right: 30px;" value="Login" />
                        @*<button class="btn btn-primary btn-lg" type="submit" href="~/Home/AdminDashboard" style="padding-left: 30px; padding-right: 30px;">Login</button>*@
                        <div class="col-12">
                            @Html.ValidationMessage("Error")
                        </div>
                        <p class="small mt-2 pt-1">
                            Don't have an account? <a href="#!"
                                                      class="btn-link">Request Access</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


