@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Just for navigation. DO NOT need to keep -->
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="align-content-center p-4">
                    <img src="~/images/user_icon.png" class="img-fluid" width="200"
                         alt="Sample image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Administrator</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="~/Home/AdminLogin" class="btn btn-primary">Admin Login</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="align-content-center p-4">
                    <img src="~/images/user_icon.png" class="img-fluid" width="200"
                         alt="Sample image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Client Login</a>
                </div>
            </div>
        </div>
    </div>

</div>

