@{
    ViewData["Title"] = "Mechanic";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Mechanic View - From Mechanic Perspective</h1>
    <p>Form for mechanic to update their info </a>.</p>
</div>
