@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        .vertical-center {
            min-height: 80vh;
            display: flex;
            align-items: center;
        }

        .header1 {
            margin-bottom: -15px;
            font-family: 'Montserrat', sans-serif;
        }

        .header2 {
            margin-bottom: 25px;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container vertical-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-4 mr-4">
                <img src="~/images/mechanic_clipart.png" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-xl-5">
                
                    <div>
                        <div class="header1">
                            <h2>Under Construction...</h2>
                        </div>
                        </br>
                        <div class="header2">
                            <h3>Please check back soon</h3>
                        </div>
                    </div>
                    

                    
                    
            </div>
        </div>
    </div>
</body>
</html>