@model AutoContact.Models.PurchaseOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Purchase Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseOrderId" />
            <!--<div class="form-group">
        <label asp-for="PurchaseOrderId" class="control-label"></label>
        <input asp-for="PurchaseOrderId" class="form-control" />
        <span asp-validation-for="PurchaseOrderId" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                @Html.DropDownList("VendorId", (IEnumerable<SelectListItem>)ViewBag.Vendors, "Select A Vendor", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" readonly/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PODate" class="control-label"></label>
                <input asp-for="PODate" class="form-control" />
                <span asp-validation-for="PODate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelledDate" class="control-label"></label>
                <input asp-for="CancelledDate" class="form-control" />
                <span asp-validation-for="CancelledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
