@model AutoContact.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            color: #8e9194;
            background-color: #f4f6f9;
        }

        .text-muted {
            color: #aeb0b4 !important;
        }

        .text-muted {
            font-weight: 300;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="mt-4">Edit Category</h1>
                <hr class="my-4" />
                @*<input type="hidden" asp-for="CategoryId" />*@
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <button class="btn btn-primary" type="submit" value="Save">Save</button>
                    <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
